*{
    margin: 0;
    font-family: sans-serif;
}
.header{
    padding-bottom:10em;;
}
body{
    background-image: url(https://images.wallpaperscraft.com/image/lamps_books_library_73969_1920x1080.jpg);
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    
}
label{
    color: white;
    text-align: left;

}
form {
    border: none;
    
}
/* input[type=text],
input[type=password] {
    width: 150px;
    padding: 12px 20px;
    margin: 8px 0;
    /* display: inline-block; 
    border: 1px solid #ccc;
    box-sizing: border-box; */

@media only screen and (min-width:200px) and (max-width:720px){
    .header{
        width: 100%;
        margin: auto;
        color:rgb(255, 255, 255);
        padding-bottom: 1em;
        font-size: 22px;
            
    }
    body{
        background-image: url(https://c4.wallpaperflare.com/wallpaper/459/731/792/landscape-city-vertical-wallpaper-preview.jpg);
        margin: 0;
        /* padding:0; */
        background-repeat: no-repeat;
        background-attachment: fixed; 
        background-size: cover;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover; 
    }
        
}